DerivedData/
MedialAxisTransform.xcodeproj/project.xcworkspace/xcuserdata/beau.xcuserdatad/UserInterfaceState.xcuserstate
/medialAxisTransform/.deps
/medialAxisTransform/aclocal.m4
/medialAxisTransform/config.guess
/medialAxisTransform/config.h.in
/medialAxisTransform/config.status
/medialAxisTransform/config.sub
/medialAxisTransform/configure.in
/medialAxisTransform/depcomp
/medialAxisTransform/install-sh
/medialAxisTransform/libtool
/medialAxisTransform/ltmain.sh
/medialAxisTransform/m4/*
/medialAxisTransform/MedialAxisTransform.1
/medialAxisTransform/rc.frag
/medialAxisTransform/rc.vert
/medialAxisTransform/stamp-h1
/medialAxisTransform/autom4te.cache
/medialAxisTransform/config.log
/medialAxisTransform/*.o
/medialAxisTransform/Makefile
/medialAxisTransform/Makefile.in
/medialAxisTransform/MedialAxisTransform
/build
*.tar.gz
configure